<h1>Tickets</h1>
<div>
{{#each tickets}}
<div style="width: 17rem;">
    <div>
    <strong>Codigo: </strong> {{code}} <br>
    <strong>Total: </strong> ${{amount}} <br>
    <strong>Email: </strong>{{purchaser}} <br>
    <strong>Estado: {{status}}</strong>
  </div>
  <div>
    {{#if (eq status "Pendiente")}}
    <form method="post">
        <input type="hidden" name="total" value="{{amount}}">
        <input type="hidden" name="id" value="{{_id}}">
        <input type="hidden" name="estado" value="{{status}}">
        <input type="submit" value="Pagar Con MercadoPago" class="btn btn-success"></input>
    </form>
    {{/if}}
    </div>
</div>
{{/each}}
</div>
<br>